<div class="col-sm-4 col-md-3">
   <nav class="nav navbar pull-right fixed">
<div class="header">
<h3>Browse our Books!</h3>
</div>
        <div class="right-navigation">
            <ul class="list">
                <h5><strong>Novels</strong></h5>
                <li><a href="#">Mystery</a></li>
                <li><a href="#">Fantasy</a></li>
                <li><a href="#">Drama</a></li>
                <li><a href="#">Romance</a></li>
                <li><a href="#">Classics</a></li>
              </ul>
<br>
            <ul class="list">
                <h5><strong>Educational</strong></h5>
                <li><a href="#">Physics</a></li>
                <li><a href="#">Chemistry & Biology</a></li>
                <li><a href="#">Math</a></li>
                <li><a href="#">Computer Science</a></li>
                <li><a href="#">History</a></li>
                <li><a href="#">Philosophy</a></li>
                <li><a href="#">Politics & Economy</a></li>
                
              </ul>
        </div>
          <br>            
            <!-- Footer -->
            <div class="footer">
            <footer>
                 <p>Copyright &copy; RT4 Groupe 1, Zorgui Fairouz, Bouchami Wafa, Mezni Yesmine </p>
            </footer>
            </div>
</nav>
</div>