<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">

    <!--sidebar-->
    <app-navbar></app-navbar>   
    <app-rightbar></app-rightbar> 
<div  id="page-content-wrapper">
<div class="row">
    <div class="col-lg-3 col-md-3 ">
    <h1 class="title">Bookstore</h1>
    
</div>                
<!--Search Bar beside title-->    <app-search></app-search> 

</div>

<div class="row">
        
    <div class="container">  
    <div class="col-md-9 col-lg-9 ">
<!--books-->
<div >
        
<!--<app-bookcard></app-bookcard>--><router-outlet></router-outlet>
</div>
</div></div></div>



</div>
</div>
<!-- /.container -->
